@import "~bootstrap/scss/bootstrap";
/* sb-admin */
@import "~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css";
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import "~startbootstrap-sb-admin-2/css/sb-admin-2.min.css";

body {
  //background-color: lightgray;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
  background-color: #3c62d1;
  border-color: #3c62d1;
}

.btn-primary:hover {
  background-color: #4f72d4;
  border-color: #4f72d4;
}

.scroll-to-top {
  z-index: 1;
}

.toggled > .selected-fest {
  span.text {
    font-size: 0.5vw;
    padding: 5px 0 0 0;
  }
}

.show-fest, .selected-fest, .change-fest {
  border-radius: inherit;
}

.selected-fest:hover {
  border-radius: inherit;
}