@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/list/main.css";

//#content {
//  background-color: red !important;
//}

.festival-card {
  text-decoration: none !important;
  //cursor: pointer;
}

#calendar {
  height: 78vh;
}

.new-job-modal {
  top: 0;
  z-index: 10;
  position: absolute;
}

.new-job-spinner {
  display: none;
}

.fc-header-toolbar {
  margin-bottom: 5px !important;
}

.event-color-switch {
  padding: 0 5px;
}