{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit{% endtrans %} {% trans %}User{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit{% endtrans %} {% trans %}User{% endtrans %}</h1>
    <div class="container">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}




    <a class="btn btn-outline-secondary float-right" href="{{ path('user_index') }}">{% trans %}back to list{% endtrans %}</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}